<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Factor Tool</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <div class="left-panel">
            <h1>CSS Factor Tool</h1>
            <form id="cssForm" enctype="multipart/form-data">
                <label for="mode">Select mode:</label>
                <select id="mode" name="mode">
                    <option value="factor">Factor</option>
                    <option value="explode">Explode</option>
                    <option value="identity">Identity</option>
                </select>
                <label for="cssFile">Select CSS file:</label>
                <input type="file" id="cssFile" name="cssFile" accept=".css">
                <input type="submit" value="Process CSS">
            </form>
            <div id="progressContainer" style="display: none;">
                <h3 id="progressTask"></h3>
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 0%;"></span>
                </div>
            </div>
            <div id="result"></div>
            <a id="downloadLink" href="#" download style="display: none;">Download Processed CSS</a>
            <div id="console"></div>
        </div>
        <div class="right-panel">
            <h2>Guide</h2>
            <div id="guide"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>